<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    role="navigation"
    [opened]="screenWidth > 768"
    [mode]="screenWidth > 768 ? 'side' : 'over'"
  >
    <mat-sidenav-header>
      
    </mat-sidenav-header>
    <p>Sidenav</p>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button mat-icon-button type="button" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>LOGO</div>
      <div>
        <a routerLink="/signup">Signup</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/training">Training</a>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
